*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calculator{
  width: 300px;
  min-height: 150px;

  border: 3px solid black;
  margin: auto;
  padding : 15px;
  border-radius: 10px;
}

.row{
  margin: 5px 0;
}

.btn-row{
  display: flex;
  justify-content: space-evenly;
}

.btn-row > button{
  width: 45px;
  font-size: 18px;
}

#calcResult{
 color : red; 
}


.btn2 > button{
  font-size: 10px;

  /* 글자 간격 */
  letter-spacing: -1px;
  width: 33.33%;
}