* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 600px;
    margin: 50px auto; /* 상하/좌우 */
    text-align: center; /* 글자 가운데 정렬 */
}

.color-area {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 18%;
    display: flex;
    flex-direction: column; /* 중심축 방향 세로로 */
}

.box {
    width: 100%;
    height: 108px;
    border: 1px solid black;

    /* css가 변화되는 시간을 지연시키는 효과 */
    /* css가 변화되는 시간을 0.5초로 지정 */
    transition-duration: 0.5s;
}

.color-input {
    width: 100%;
    height: 20px;
}

.opacity-container {
    margin: 30px 0;
}