/* big이라는 이름의 클래스를 가진 요소의 스타일 변경 */
.big {
    width: 50px;
    height: 50px;
}

.bg-skyblue {
    background-color: skyblue;
}

/* classList 테스트 */
.container-3 {
    width: 400px;
    height: 100px;
    border: 2px solid #ccc;

    display: flex; /* container-3 클래스 내부 아이템들 유연하게 배치 */
    justify-content: center; /* 중심축 정렬: 가운데 */
    align-items: center; /* 교차축 정렬: 가운데 */
}

/* hidden 클래스를 가진 요소를 화면에 표시X */
.hidden { display: none; }

.bg-red { background-color: red; }
.bg-yellow { background-color: yellow; }
.bg-green { background-color: green; }

.test {
    background-color: greenyellow;
    border: 5px double steelblue;
    width: 300px;
    height: 150px;
}